# Data Types and Structures Assignment

1. What are data structures, and why are they important?

Data structures are organized ways of storing and managing data so that it can be used efficiently. They are important because they determine how easily data can be accessed, modified, and stored. Efficient data structures make programs faster and more optimized, while poor choices can lead to slow performance.

2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after they are created, while immutable data types cannot. For example, lists are mutable because you can add, remove, or change elements in them. Strings and tuples are immutable because once they are created, their contents cannot be modified.

3. What are the main differences between lists and tuples in Python?

Lists are mutable, meaning their elements can be changed, added, or removed. Tuples are immutable, which means once created, their elements cannot be changed. Lists are generally slower than tuples but more flexible, while tuples are faster and often used when data should not change.

4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs. Each key is unique and maps to a value. Internally, Python uses a hash table to store dictionary data, which allows fast access, insertion, and deletion using keys.

5. Why might you use a set instead of a list in Python?

Sets are used instead of lists when you want to store unique items without duplicates. They are also faster for checking whether an element exists in the collection compared to lists.

6. What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters enclosed in quotes. It is immutable, meaning it cannot be modified after creation. A list, on the other hand, is mutable and can contain different data types, including numbers, strings, and other lists.

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity because they are immutable. Once a tuple is created, its contents cannot be changed, which prevents accidental modification of critical data.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data using a system of hash values for quick access. In Python, dictionaries are implemented using hash tables, which allows them to provide fast lookups, insertions, and deletions.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain different data types. For example, a list can have integers, strings, floats, and even other lists together.

10. Explain why strings are immutable in Python.

Strings are immutable because once they are created, their characters cannot be changed. This design makes them more memory-efficient and safe to use in programs, especially when used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow fast lookups using keys, while lists require searching through each element to find a match. This makes dictionaries more efficient when you need to associate values with unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list.

A tuple is preferable when you want to store fixed data that should not change. For example, storing coordinates (x, y) or days of the week is better with a tuple because these values are constant.

13. How do sets handle duplicate values in Python?

Sets automatically remove duplicate values. If you try to add a duplicate item to a set, it will be ignored, ensuring that all elements in the set are unique.

14. How does the “in” keyword work differently for lists and dictionaries?

For lists, the in keyword checks whether an element exists in the list. For dictionaries, in checks only for keys, not values. To check values, you must use .values().

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple because tuples are immutable. Once created, their contents cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary that contains another dictionary as a value. It is useful for representing structured data, such as student records where each student has details like name, age, and marks stored inside their own dictionary.

17. Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary is on average O(1), meaning it takes constant time regardless of the dictionary’s size. This efficiency comes from the hash table implementation.

18. In what situations are lists preferred over dictionaries?

Lists are preferred when the order of elements matters, when duplicate values are allowed, or when you just need a simple collection of items without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because their elements are stored based on hash values, not sequence. This means the order of items may not match the order in which they were added (though in Python 3.7+, insertion order is preserved for practical use). Data retrieval, however, is unaffected because keys allow direct access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, data is retrieved using an index number, while in a dictionary, data is retrieved using keys. Lists require searching through indexes if you don’t know the position, while dictionaries provide faster access using key lookups.

In [ ]:
#1.Write a code to Create a string with your name and print it
a="Arkaprava Roy"
print(a)

Arkaprava Roy

In [ ]:
#2.Write a code to Find the length of the string "Hello World"
str1= "Hello World"
print(len(str1))

11

In [ ]:
#3.Write a code to Slice the first 3 characters from the string "Python Programming"
str2 = "Python Programming"
print(str2[0:3])

Pyt

In [ ]:
# 4.Write a code to Convert the string "hello" to uppercase
str3="hello"
print(str3.upper())

HELLO

In [ ]:
#5.Write a code to Replace the word "apple" with "orange" in the string "I like apple"
str4= "I like apple"
str4.replace('apple','orange')

'I like orange'

In [ ]:
#6.Write a code to Create a list with numbers 1 to 5 and print it
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to Append the number 10 to the list [1, 2, 3, 4]
list2= [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [2]:
#8.Write a code to Remove the number 3 from the list [1, 2, 3, 4, 5]
list1= [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [3]:
#9.Write a code to Access the second element in the list ['a', 'b', 'c', 'd']
list1= ['a', 'b', 'c', 'd']
print(list1[1])

b

In [9]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list1= [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [10]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup = (10, 20, 5, 15)
print(min(tup))

5

In [16]:
#14. Write a code to find the index of the element "cat" in the
tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [17]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup=('mango','banana','kiwi')
'kiwi' in tup

True

In [19]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1={'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [20]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set1= {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [25]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1= {1, 2, 3}
set2= {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [26]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1= {1, 2, 3}
set2= {2, 3, 4}
print(set1 & set2)

{2, 3}

In [30]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict={"name": "Arkaprava Roy" ,
      "age" : "25" ,
      "city" : "Raiganj" }
print(dict)

{'name': 'Arkaprava Roy', 'age': '25', 'city': 'Raiganj'}

In [34]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [38]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
'city' in dict

True

In [40]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [41]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
my_list=[1,4,6,5,3]
my_list.sort()
print(my_list)

[1, 3, 4, 5, 6]

In [44]:
#28. Write a code to create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[2])

cherry

In [48]:
##29. Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
#30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
my_set = set(words)
print(my_set)

{'banana', 'cherry', 'apple'}